In [1]:
import stockstats as ss

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline

In [3]:
resource_data = 'QCOM.csv'
input_csv = "./input/{0}".format(resource_data)
qcom = pd.read_csv(input_csv)

In [4]:
type(qcom)

pandas.core.frame.DataFrame

In [5]:
qcom.head(5)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2013-03-11  66.730003  66.930000  66.309998  66.699997  57.412933   6559800
1  2013-03-12  66.709999  67.089996  66.370003  67.040001  57.705582   9115600
2  2013-03-13  67.010002  67.500000  66.660004  66.750000  57.455967   9621500
3  2013-03-14  67.000000  67.059998  66.360001  66.570000  57.301037   9262200
4  2013-03-15  66.419998  66.580002  64.739998  64.970001  55.923809  26182100

In [7]:
import stockstats
qcomStockStat = stockstats.StockDataFrame.retype(qcom)
qcomStockStat[['close','kdjk','kdjd','kdjj']]

                close       kdjk       kdjd        kdjj
date
2013-03-11  66.699997  54.300954  51.433651   60.035559
2013-03-12  67.040001  67.397425  56.754909   88.682457
2013-03-13  66.750000  57.256582  56.922134   57.925479
2013-03-14  66.570000  45.454012  53.099426   30.163183
2013-03-15  64.970001  33.080486  46.426446    6.388567
2013-03-18  64.559998  31.484524  41.445806   11.561961
2013-03-19  64.720001  31.721387  38.204333   18.755496
2013-03-20  65.739998  40.171958  38.860208   42.795459
2013-03-21  65.349998  42.634939  40.118452   47.667915
2013-03-22  65.919998  48.911075  43.049326   60.634573
2013-03-25  65.669998  51.062645  45.720432   61.747069
2013-03-26  66.620003  63.367852  51.602905   86.897744
2013-03-27  66.680000  74.979785  59.395198  106.148957
2013-03-28  66.940002  82.764319  67.184905  113.923146
2013-04-01  66.000000  77.722059  70.697290   91.771598
2013-04-02  66.250000  74.086103  71.826894   78.604519
2013-04-03  65.970001  65.026509  69.560099   55.959329
2013-04-04  65.809998  53.622299  64.247499   32.371898
2013-04-05  65.160004  44.047543  57.514180   17.114267
2013-04-08  65.860001  47.188152  54.072171   33.420115
2013-04-09  65.959999  50.642411  52.928918   46.069397
2013-04-10  67.290001  63.223961  56.360599   76.950685
2013-04-11  67.029999  68.815939  60.512379   85.423061
2013-04-12  66.680000  68.780494  63.268417   79.804647
2013-04-15  65.489998  55.961139  60.832658   46.218101
2013-04-16  65.809998  50.855764  57.507026   37.553238
2013-04-17  64.230003  35.918504  50.310852    7.133807
2013-04-18  63.639999  26.900206  42.507303   -4.313990
2013-04-19  63.930000  24.426980  36.480529    0.319882
2013-04-22  64.580002  27.467929  33.476329   15.451129
...               ...        ...        ...         ...
2018-01-26  68.529999  78.522262  77.518950   80.528886
2018-01-29  67.320000  53.954637  69.664179   22.535552
2018-01-30  66.989998  39.963538  59.763965    0.362684
2018-01-31  68.250000  49.991018  56.506316   36.960421
2018-02-01  66.800003  39.528930  50.847187   16.892414
2018-02-02  66.070000  28.655240  43.449871   -0.934024
2018-02-05  61.730000  24.209347  37.036363   -1.444686
2018-02-06  64.400002  32.328865  35.467197   26.052201
2018-02-07  65.040001  40.398577  37.110991   46.973751
2018-02-08  62.419998  35.054207  36.425396   32.311829
2018-02-09  63.990002  38.132599  36.994464   40.408869
2018-02-12  65.660004  47.249169  40.412699   60.922109
2018-02-13  65.699997  53.580118  44.801839   71.136678
2018-02-14  66.589996  66.759809  52.121162   96.037103
2018-02-15  65.279999  69.797527  58.013284   93.366014
2018-02-16  64.849998  67.692711  61.239760   80.598615
2018-02-20  63.990002  60.921240  61.133587   60.496548
2018-02-21  63.400002  52.724033  58.330402   41.511294
2018-02-22  62.180000  39.643740  52.101515   14.728191
2018-02-23  63.320000  36.280701  46.827910   15.186283
2018-02-26  66.980003  55.217449  49.624423   66.403501
2018-02-27  66.339996  62.692616  53.980487   80.116872
2018-02-28  65.000000  59.934887  55.965287   67.874088
2018-03-01  64.959999  57.865316  56.598630   60.398687
2018-03-02  64.739998  55.214653  56.137304   53.369350
2018-03-05  64.010002  48.595505  53.623371   38.539772
2018-03-06  62.139999  37.876449  48.374397   16.880552
2018-03-07  62.490002  32.506176  43.084990   11.348547
2018-03-08  61.820000  25.526692  37.232224    2.115627
2018-03-09  63.029999  27.012717  33.825722   13.386708

[1260 rows x 4 columns]

In [10]:
type(qcomStockStat['kdjk'])
qcomStockStat['kdjk'][1]

67.39742530540424

In [14]:
def pp(in1, in2):
    print(in1)
    print(in2)
    print(pp.tv)
pp.tv = 5

In [15]:
r = [3, 4]

In [17]:
kk = pp.deepcopy()

AttributeError: 'function' object has no attribute 'deepcopy'

In [12]:
kk.tv = 6

In [13]:
pp(3,4)

3
4
6